<!DOCTYPE html>
<html lang="en" ng-app="SpringLogs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring logs</title>

    <!-- Bootstrap -->
    <link href="../public/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Url mappings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" class="form-control" ng-model="filters.query" placeholder="Search url"/>
        </div>
    </div>
    <div class="row">
        <div class="bot-links col-lg-12">
            <strong>Controllers:</strong>
            <a ng-repeat="controller in filters.controllers" ng-click="toggleControllerFilter(controller)" href="#">{{controller}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p><strong>Selected url: </strong>{{selectedUrl}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="urlMappingsTable" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th ng-click="sortOrder= 'httpMethods';reverse=!reverse">Type</th>
                    <th ng-click="sortOrder= 'url';reverse=!reverse">URL</th>
                    <th ng-click="sortOrder= 'handlerClassShort';reverse=!reverse">Controller</th>
                    <th ng-click="sortOrder= 'handlerMethod';reverse=!reverse">method</th>
                    <th>params</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="mapping in mappings | orderBy:sortOrder:reverse| startFrom:(currentPage -1)*pageSize | limitTo:pageSize" ng-mouseleave="$parent.selectedUrl=''" ng-mouseover="$parent.selectedUrl=mapping.url" >
                    <td>{{mapping.httpMethods.join(",")}}</td>
                    <td>{{mapping.url | limitTo:15}}</td>
                    <td ng-click="toggleControllerFilter(mapping.handlerClassShort)">{{mapping.handlerClassShort}}</td>
                    <td>{{mapping.handlerMethod}} </td>
                    <td>{{mapping.handlerParamsShort}}</td>
                </tr>
                </tbody>
            </table>
            <pagination total-items="totalMappings" items-per-page="pageSize" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../public/vendor/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/vendor/angular/angular.min.js"></script>
<script src="../public/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../public/vendor/underscore/underscore-min.js"></script>
<script src="../public/app/app.js"></script>
<script src="../public/app/services.js"></script>
<script src="../public/app/filters.js"></script>
</body>
</html>