<!DOCTYPE html>
<html lang="en" ng-app="SpringLogs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring logs</title>

    <!-- Bootstrap -->
    <link href="../public/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Url mappings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="text" class="form-control" ng-model="urlFilter" placeholder="Search url"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Selected url: <strong>{{selectedUrl}}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="urlMappingsTable" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th ng-click="sortOrder= 'url';reverse=!reverse">URL</th>
                    <th ng-click="sortOrder= 'handlerClassShort';reverse=!reverse">Controller</th>
                    <th ng-click="sortOrder= 'handlerMethod';reverse=!reverse">method</th>
                    <th>params</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-mouseleave="$parent.selectedUrl=''" ng-mouseover="$parent.selectedUrl=mapping.url" ng-repeat="mapping in mappings | filter:urlFilter | orderBy:sortOrder:reverse">
                    <td>{{mapping.url.substring(0, 15)}}</td>
                    <td>{{mapping.handlerClassShort}}</td>
                    <td>{{mapping.handlerMethod}}</td>
                    <td>{{mapping.handlerParamsShort}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../public/vendor/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/vendor/angular/angular.min.js"></script>
<script src="../public/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../public/app/app.js"></script>
</body>
</html>